.gameboard {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3c3c;
    padding: 1rem;
    color: white;
}

.player-hand,
.opponent-hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.player-hand>.cards,
.opponent-hand>.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.player-hand>*,
.opponent-hand>* {
    flex: 0 0 auto;
}

.battle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d0d0d0;
    padding: 1rem;
}

.notifications {
    background-color: #f5f5f5;
    padding: 1rem;
}

.attacker,
.defender {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 1rem;
    width: 150px;
    height: 200px;
}

.attacker .card,
.defender .card {
    /* Customize the attacker and defender card styles */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5rem;
    text-align: center;
}

.attacker {
    background-color: rgba(0, 255, 0, 0.1);
}

.defender {
    background-color: rgba(255, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.card.zoomed {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    cursor: pointer;
}

.zoomed-card-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.card.zoomed {
    cursor: pointer;
}

.confirm-button {
    margin-top: 1rem;
    position: absolute;
    bottom: -10rem;
    /* Move the button below the card */
    z-index: 11;
    /* Ensure the button appears above the card */
}


.selected {
    transform: translateY(-1rem);
}

.battle-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.1);
}